@mixin btn-reset() {
  background: none;
  background-color: none;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  display: inline-block;
  appearance: none;
  touch-action: manipulation;

  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
  }
}

.btn {
  @include btn-reset;

  padding: 12px 18px;
  font-size: $font-size;

  &--primary {
    color: white;
    background-color: $primary;
  }
}
