@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald');

$body-font    : Arial, Helvetica, sans-serif;
$header-font  : Georgia, Times, serif;
$primary-font : 'Oswald', 'Open Sans', sans-serif, Georgia, Times, serif;
$font-size    : 14px;
$font-color   : rgb(85, 85, 85);
$anchor-color : rgb(152, 88, 140);
$line-height  : 1.42857143em;

$background-color : rgb(255, 255, 255);

$screen-sm : 481px; // Small screen - phone
$screen-md : 769px; // Medium screen - tablet
$screen-lg : 993px; // Large screen - desktop

$primary-color : rgb(170, 147, 165);
