.profiles {
  @include container;
}

.profile {
  margin-bottom: 30px;
  padding: 24px;

  @include size(md) {
    padding: 0;
  }

  @include clearfix();
}

.profiles-left,
.profiles-right {
  @include size(sm) {
    @include span(100%);
  }
}

.profiles-left {
  @include size(md) {
    @include span(50%);
  }
}

.profiles-right {
  @include size(md) {
    & .profile-image {
      float: right;
    }

    & .profile-info,
    .profile-header {
      text-align: right;
    }

    @include span(last 50%);
  }
}

.profile-image {
  height: auto;

  @include size(sm) {
    @include span(100%);
  }

  @include size(md) {
    @include span(4 of 12);
  }
}

.profile-info {
  padding: 4px 0;

  @include size(sm) {
    @include span(100%);
  }

  @include size(md) {
    @include span(8 of 12);
  }
}

.profile-image img {
  display: block;
  width: 100%;
  height: 100%;
}
