.registries {
  display: flex;
}

.registry {
  padding: 24px;
  cursor: pointer;
  text-decoration: none;
  opacity: .8;
  transition: opacity .07s;

  &:hover {
    opacity: 1;
  }

  & > img {
    width: 100%;
  }
}
