.registries {
  display: flex;
}

.registry {
  padding: 16px;
  cursor: pointer;
  text-decoration: none;
  opacity: .8;
  transition: opacity .07s;

  &:hover {
    opacity: 1;
  }

  & > img {
    width: 100%;
  }

  @include size(md) {
    padding: 40px 80px;
  }
}
