html {
  font-family: $body-font;
  font-size: $font-size;
  line-height: 1.4;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

body {
  line-height: $line-height;
}

a {
  text-decoration: none;
  color: $anchor-color;
  font-weight: bold;

  &:hover {
    color: darken($anchor-color, 15%);
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: .86em;
  font-family: $header-font;
}

h1 {
  font-size: 2em;

  @include size(md) {
    font-size: 2.4em;
  }
}

h2 {
  font-size: 1.54em;

  @include size(md) {
    font-size: 1.8em;
  }
}

h3 {
  font-size: 1.25em;

  @include size(md) {
    font-size: 1.6em;
  }
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.1em;
}

h5 {
  font-size: 1.0em;
}

p {
  margin-bottom: 1em;
}

b,
strong,
.bold {
  font-weight: bold;
}

em,
.italic {
  font-style: italic;
}

.lead {
  font-size: 1.2em;
}

.list {
  margin-bottom: 1em;
  margin-left: 2em;
  list-style: disc;

  & > * {
    margin: .15em 0;
  }
}
