include section

+section()
  .gallery.open-gallery
    .gallery-image.gallery-image--main
      .gallery-image-wrapper
        img(src="/images/gallery/thumb/1_thumb.jpg")
    .gallery-image
      .gallery-image-wrapper
        img(src="/images/gallery/thumb/2_thumb.jpg")
    .gallery-image
      .gallery-image-wrapper
        img(src="/images/gallery/thumb/3_thumb.jpg")
    .gallery-image
      .gallery-image-wrapper
        img(src="/images/gallery/thumb/4_thumb.jpg")
    .gallery-image
      .gallery-image-wrapper
        img(src="/images/gallery/thumb/5_thumb.jpg")

  .pswp
    .pswp__bg
    .pswp__scroll-wrap
      .pswp__container
        .pswp__item
        .pswp__item
        .pswp__item
      .pswp__ui.pswp__ui--hidden
        .pswp__top-bar
          .pswp__counter
          button.pswp__button.pswp__button--close
          button.pswp__button.pswp__button--share
          button.pswp__button.pswp__button--fs
          button.pswp__button.pswp__button--zoom

          .pswp__preloader
            .pswp__preloader__icn
              .pswp__preloader__cut
                .pswp__preloader__donut

        .pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
          .pswp__share-tooltip

        button.pswp__button.pswp__button--arrow--left
        button.pswp__button.pswp__button--arrow--right

        .pswp__caption
          .pswp__caption__center
