include section

mixin profile(name, relation, photo)
  .profile
    .profile-image
        img(src='images/wedding-party/' + photo + '.png' alt=name)
    .profile-info
      h3.profile-name #{name}
      p.profile-relation #{relation}

mixin profile-header(text)
  h2.profile-header #{text}

+section()
  h1 Wedding Party
  .profiles
    .profiles-left
      +profile-header('Maid of Honor')
      +profile('Dana Mills', 'Sister of the Bride', 'dana')
      +profile-header('Bride\'s Attendants')
      +profile('Elizabeth Onsrud', 'Cousin of the Bride', 'elizabeth')
      +profile('Dalton Mills', 'Brother of the Bride', 'dalton')
      +profile('Kayla Pudenz', 'Cousin of the Groom', 'kayla')
      +profile('Dwight Mills', 'Brother of the Bride', 'dwight')
      +profile-header('Ring Bearer')
      +profile('Oliver Beames', 'Cousin of the Bride', 'oliver')

    .profiles-right
      +profile-header('Best Woman')
      +profile('Kerry George', 'Sister of the Groom', 'kerry')
      +profile-header('Groom\'s Attendants')
      +profile('Andy Pudenz', 'Friend of the Couple', 'andy')
      +profile('Tracy Molitor', 'Sister of the Groom', 'tracy')
      +profile('Brian Koster', 'Cousin of the Groom', 'brian')
      +profile('Lisa Neppel', 'Sister of the Groom', 'lisa')
      +profile-header('Flower Girl')
      +profile('Brooke Molitor', 'Niece of the Groom', 'brooke')

  .profiles
    .profiles-left
      +profile-header('Usher')
      +profile('Jim Grabner', 'Friend of the Couple', 'jim')

    .profiles-right
      +profile-header('Usher')
      +profile('John Grabner', 'Friend of the Couple', 'john')
