include section

+section()
  h1
    | Gift Registries

  p Gifts can be purchased from Amazon and Target. The links below will take you directly to the online gift registries.

  .registries
    a.registry(href=registry.amazon.url title="Amazon gift registry online")
      img(src=registry.amazon.logo alt="Amazon logo")
    a.registry(href=registry.target.url title="Target gift registry online")
      img(src=registry.target.logo alt="Target logo")
