include section

+section()
  h1 Accommodations
  
  p
    | Stay at the Radisson Hotel for a discounted rate. Call the Radisson Hotel (
    a(href="tel:+1-608-784-6680") 608-784-6680
    |) and ask for the <b>“Mills-Halbur wedding rate.”</b>
    | Rooms must be reserved by <b>Thursday, August 3rd</b>
    | for reduced rate.

  p
    i.mdi.mdi-city &nbsp;
    | <b>Radisson Hotel</b><br>
    a(href=location.directions)
      | 200 Harborview Plaza<br>
      | La Crosse, Wisconsin<br>
      | 54601
      
  p
    | The reduced rate offers a Standard King for <b>$159</b>
    | and a Standard two Queen for <b>$175</b>.&nbsp;
    a(href=hotel.url) More information about Radisson Hotel
    |.
    
  include map

  h2 Other Nearby Hotels

  ul.list
    li Holiday Inn
    li The Charmont
    li Grandstay Hotel
    li Hampton Inn &amp; Suites
    li The Marriot Courtyard
    li Fairfield Inn &amp; Suites
