doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{meta.title}
    link(href='css/main.css' rel='stylesheet' media='all')
    link(href='css/materialdesignicons.min.css' rel='stylesheet' media='all')
    link(href='vendor/photoswipe/photoswipe.css' rel='stylesheet' media='all')
    link(href='vendor/photoswipe/default-skin/default-skin.css' rel='stylesheet' media='all')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='description' content=meta.description)
    meta(name='author' content=meta.author)
  body
    include header
    block content
    script(src='js/main.js')
    include ga
