doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Dee &amp; Brent's Wedding
    link(href='css/main.css' rel='stylesheet' media='all')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
  body
    include header
    .page-content
      .container
        block content
