.page-landing
  .page-landing-text
    .page-landing-secondary Celebrating the wedding of
    .page-landing-primary Deandrea Mills
    .page-landing-tertiary to
    .page-landing-primary Brent Donald Halbur
    .page-landing-secondary Sunday, September 3rd, 2017
    .flourish
      img(src='images/flourish.png')
