extends base

block content
  .row
    .col-5
      img(src='images/poloroid.jpg', width='100%')
    .col-7
      h1 Dee &amp Brent

  .row
    .col-12.col-md-6
      img(src='images/wedding-party/dana.png')
    .col-12.col-md-6
      img(src='images/wedding-party/kerry.png')
  .row
    .col-12.col-md-6
      img(src='images/wedding-party/elizabeth.png')
    .col-12.col-md-6
      img(src='images/wedding-party/andy.png')
  .row
    .col-12.col-md-6
      img(src='images/wedding-party/dalton.png')
    .col-12.col-md-6
      img(src='images/wedding-party/tracy.png')
  .row
    .col-12.col-md-6
      img(src='images/wedding-party/kayla.png')
    .col-12.col-md-6
      img(src='images/wedding-party/brian.png')
  .row
    .col-12.col-md-6
      img(src='images/wedding-party/dwight.png')
    .col-12.col-md-6
      img(src='images/wedding-party/lisa.png')
  .row
    .col-12.col-md-6
      img(src='images/wedding-party/brooke.png')
    .col-12.col-md-6
      img(src='images/wedding-party/oliver.png')
