include section

+section()
  h1
    | Time &amp; Place

  p.lead
    | <b>Sunday, September 3rd, 2017</b> at the <b>Radisson Hotel</b>.&nbsp;

  include map

  h2 Discounted Rates Available!
  p
    | Call the Radisson Hotel (
    a(href="tel:+1-608-784-6680") 608-784-6680
    |) and ask for the <b>“Mills-Halbur wedding rate.”</b>
    | Rooms must be reserved by <b>Thursday, August 3rd</b>
    | for reduced rate. The reduced rate offers a Standard King for <b>$159</b>
    | and a Standard two Queen for <b>$175</b>.&nbsp;
    a(href=hotel.url) More information about Radisson Hotel
    |.

  p
    i.mdi.mdi-city &nbsp;
    | <b>Radisson Hotel</b><br>
    a(href=location.directions)
      | 200 Harborview Plaza<br>
      | La Crosse, Wisconsin<br>
      | 54601
