include section

+section()(class="page-content-alternate")
  h1 Time &amp; Place
  h4.bold Sunday, September 3rd, 2017
  p at the
  h4.bold Radisson Hotel
  p 200 Harborview Plaza
  p La Crosse, Wisconsin
  p 54601
  a.bold(href='https://www.google.com/maps?ll=43.813446,-91.255469&z=14&t=m&hl=en-US&gl=US&mapclient=embed&daddr=Radisson+Hotel+La+Crosse+200+Harborview+Plaza+La+Crosse,+WI+54601@43.8134463,-91.2554692') Get Directions
include map
