include section

+section()
  h1 Time &amp; Place
  h4.bold Sunday, September 3rd, 2017
  p at the
  h4.bold Radisson Hotel
  p 200 Harborview Plaza
  p La Crosse, Wisconsin
  p 54601
  a.bold(href=location.directions) Get Directions
  include map
