include section

+section()
  h1 Explore La&nbsp;Crosse

  h3.mdi.mdi-city &nbsp;Downtown La&nbsp;Crosse Activities
  ul.list
    li
      a(target="_blank" href="http://www.explorelacrosse.com/project/the-pearl-ice-cream-parlor/") Pearl Ice Cream Parlor
    li
      a(target="_blank" href="http://www.rivoli.net/") Rivoli Theatre &amp; Pizzeria
    li
      a(target="_blank" href="https://www.facebook.com/Jules-Coffee-House-116275418399838/") Jules Coffee Shop
    li
      a(target="_blank" href="http://www.explorelacrosse.com/project/childrens-museum-of-la-crosse/") Children's Museum of La Crosse
    li
      a(target="_blank" href="http://www.explorelacrosse.com/project/riverside-park/") Riverside Park &amp; The International Garden
    li
      a(target="_blank" href="http://www.explorelacrosse.com/more-things-to-do-in-la-crosse-wi/historic-downtown-la-crosse") Historic Downtown Shopping
    li
      a(target="_blank" href="http://www.explorelacrosse.com/project/la-crosse-queen-paddlewheeler/") La Crosse Queen Mississippi Boat Cruise Tour
    li
      a(target="_blank" href="http://www.explorelacrosse.com/project/turtle-stack-brewery/") Turtle Stack Brewery
    li
      a(target="_blank" href="http://www.explorelacrosse.com/project/la-crosse-escape-room/") La Crosse Escape Room
    li
      a(target="_blank" href="http://www.explorelacrosse.com/project/cathedral-of-st-joseph/") Nearest Church: Cathedral of St. Joseph the Workman
    li
      a(target="_blank" href="http://www.explorelacrosse.com/project/historic-trolley-tours/") Historic Trolly Tour

  h3.mdi.mdi-martini &nbsp;Recommended Pubs
  ul.list
    li
      a(target="_blank" href="http://steinhauslax.com/") Stein Haus
    li
      a(target="_blank" href="http://www.explorelacrosse.com/project/bodega-brew-pub-inc/") The Bodega
    li
      a(target="_blank" href="https://www.facebook.com/Dels-Bar-176006309863/") Del's
    li
      a(target="_blank" href="https://www.buzzardbillys.com/la-crosse/the-starlite-lounge/") The Starlite Lounge

  h3.mdi.mdi-silverware-variant &nbsp;Recommended Restaurants
  ul.list
    li
      a(target="_blank" href="http://www.explorelacrosse.com/project/the-old-crow/") The Old Crow
    li
      a(target="_blank" href="http://www.explorelacrosse.com/project/4-sisters-wine-bar/") 4 Sisters Wine Bar &amp; Tapas
    li
      a(target="_blank" href="http://www.explorelacrosse.com/project/dublin-square-irish-pub-and-eatery/") Dublin Square
    li
      a(target="_blank" href="http://www.explorelacrosse.com/project/waterfront-restaurant-tavern/") The Waterfront

  h3.mdi.mdi-tree &nbsp;Trails &amp; Nature
  ul.list
    li
      a(target="_blank" href="http://www.explorelacrosse.com/project/grandad-bluff-la-crosse/") Grandad Bluff
    li
      a(target="_blank" href="http://www.explorelacrosse.com/project/myrick-park-center/") Hixton Forest Park
    li
      a(target="_blank" href="http://www.explorelacrosse.com/project/human-powered-trails-inc/") Human Powered Trails
    li
      a(target="_blank" href="http://www.explorelacrosse.com/project/myrick-park-center/") Myrick Park

  h3.mdi.mdi-routes &nbsp;Other Things to Do in La&nbsp;Crosse &amp; Nearby
  ul.list
    li
      a(target="_blank" href="https://pearlstreetbrewery.com/") Pearl Street Brewery
    li
      a(target="_blank" href="http://www.guadalupeshrine.org/") Shrine of Our Lady of Guadalupe
    li
      a(target="_blank" href="https://www.fspa.org/content/chapel/tours-and-mass") Church of Angels Chapel (Franciscan Skemp Nuns)
    li
     a(target="_blank" href="http://www.explorelacrosse.com/project/grandad-bluff-la-crosse/")  Grandad Bluff Lookout
    li
      a(target="_blank" href="http://www.explorelacrosse.com/project/pettibone-park/") Pettibone Park &amp; Beach
    li
      a(target="_blank" href="http://www.lostislandwine.com/") Lost Island Winery

  p.lead
    | More events, attractions, and activities at&nbsp;
    a(target="_blank" href="http://www.explorelacrosse.com") www.explorelacrosse.com
